.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #302e2e;
  color: white;
  text-align: left;
  height: 160px;
  margin-top:50px;
}

.column50footer {
  float: left;
  width: 50%;
  padding: 10px;
  padding-left: 3%;
}

.columnfooter {
  float: left;
  width: 35.5%;
  padding: 17px;
}

.columnfooterright {
  margin-top: 2%;
  float: right;
  width: 25%;
  padding: 10px;
  padding-left: 12%;
}

.icons{
  font-size: 27px;
  margin-right: 15%;
}



.signup{
  color: #fff;
  background: #302e2e;
  width: 50%;
  margin-top: 9%;
}

.signupText{
padding :10px;
}





